/* 
 * Always set the map height explicitly to define the size of the div element
 * that contains the map. 
 */
 #map {
    width: 50vw;
    height: 75vw;
  }
  #map2 {
    width: 50vw;
  }

  #searchmap {
    height: 150px;
    width: 300px;
  }
  /* 
   * Optional: Makes the sample page fill the window. 
   */
  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  .thing{
    height: 900px;

  }

  




  
  