[[extend 'layout.html']]
<!DOCTYPE html>
<div class="section">
    BloomBase!!
</div>
[[block page_scripts]]

<html>
  <head>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <title>Simple Map</title>
    <script async
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCXdL5jteil0_--FgaFgb5vqiSxjua6km4&callback=initMap">
</script>

    <script type="module" src="js/index.js"></script>
  </head>
  <body>
    <div id="map"></div>

    <!-- prettier-ignore -->
 
  </body>
</html>
[[end]]