[[extend 'layout.html']]

<section class="section">
    <div class="title">
        Profile
        <a class="button is-warning" href="[[=URL('edit_profile', signer=url_signer)]]">Edit</a>
    </div>
    <!-- Complete -->
    [[if current_user:]]
    <table class="table">
        <thead><tr><th>First Name</th></tr></thead>
        <tbody><tr><td>[[=current_user["first_name"] ]]</td></tr></tbody>
    </table>
    <table class="table">
        <thead><tr><th>Last Name</th></tr></thead>
        <tbody><tr><td>[[=current_user["last_name"] ]]</td></tr></tbody>
    </table>
    <table class="table">
      <!-- Had some issues with this so I switched my focus to the authentication part  
        <thead><tr><th>Interests <a class="button is-success" href="[[=URL('add_interest', user['id'], signer=url_signer)]]">Add</a></th></tr></thead>
        [[for interest in interests:]]
        <tbody><tr><td>[[=interest["interest_weight'"] ]]</td></tr></tbody>
        [[pass]]-->
        ToDo
    </table>
    <table class="table">
        <thead><tr><th>Notes</th></tr></thead>
        <tbody><tr><td>Notes Go Here</td></tr></tbody>
    </table>
    [[else:]]
    <div>Profile Not Found</div>
    [[pass]]
</section>